<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="SessionTimeOut" value="60"/>
	<add key="CacheDurationForUsers" value="6"/>
   </appSettings>
  <system.web>
    <authorization>
    <deny users="?"></deny>
    </authorization> 
    
 
 </system.web>
</configuration>
