<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
	
	<!-- 04/27/2006 Q1-Retrofit.Ch1: Start - Added the tag below to increase the timeout value 
	during the Cybersource data feed (flatfile) generation as a part of CSR #4833 -->
    <httpRuntime executionTimeout="900" /> 
    <!--04/27/2006 Q1-Retrofit.Ch1: End -->
 </system.web>
</configuration>
