<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppName" value="APDS"/>
    <!--START Changed by Cognizant on 10/26/2005 - Modified the value as part of Q4 CSR Changes -->
    <!-- <add key="Administrator_ContactInfo" value="Technical Services,1-800-626-2911 selection #8"/> -->
    <add key="Administrator_ContactInfo" value="For Technical or Application Support,1-877-554-2911"/>
    <!--END Changed by Cognizant on 10/26/2005 - Modified the value as part of Q4 CSR Changes -->
    <add key="Template_Head_End" value="file=%SiteRoot%shared/head.ascx"/>
    <add key="Template_Body_Start" value="file=%SiteRoot%shared/header.ascx"/>
    <add key="Template_Body_End" value="file=%SiteRoot%shared/footer.ascx"/>
    <add key="Template_Body_onload" value="default_window_onload()"/>
    <!--add key="Error_Url" value="/ssc/public/general_error.aspx"/-->
    <!-- Validator keys set up default values for CustomValidators.Validator class -->
    <add key="Validator_DefaultClass" value="arial_12_bold"/>
    <add key="Validator_DefaultErrorClass" value="arial_12_bold_red"/>
    <add key="Validator_DefaultTag" value="td"/>
    <add key="Validator_RequiredIndicator" value="&lt;span class=&quot;arial_11_red&quot;&gt;&amp;nbsp;*&lt;/span&gt;"/>
    <!-- Set DefaultSummary_ShowFailingControl to true if you want the id to display whenever default summary validator shows -->
    <add key="DefaultSummary_ShowFailingControl" value="false"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!--authorization>
    <deny users="?"></deny>
    </authorization-->
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.6.1"/>
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <!-- 67811A0  - PCI Remediation for Payment systems Changed the custom mode error to ON as part of Security fix-->
    <customErrors mode="On"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="Forms">
      <!--External URL Implementation-Modified the below  code in order to make the site work from both Internal and External URL as a part of 'Virtual Directory renaming' Approach -->
      <forms loginUrl="/PaymentToolmscr/login.aspx" timeout="20"/>
    </authentication>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="Off" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;" cookieless="false" timeout="60"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>