<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <DeployedEnvironment>development</DeployedEnvironment>
  <Environment Name="development">
    <General>
      <!--Connection strings-->
      <add key="ConnectionString.Membership" value="server=N01DSW137\Dev1;database=csaaapp;Trusted_Connection=Yes;"/>
      <add key="ConnectionString.Insurance" value="server=N01DSW137\Dev1;database=Payments;Trusted_Connection=Yes;"/>
      <add key="ConnectionString.Payments" value="server=N01DSW137\Dev1;database=Payments;Trusted_Connection=Yes;"/>
      <add key="ConnectionString.Authentication" value="server=N01DSW137\Dev1;database=Authentication;Trusted_Connection=Yes;Min Pool Size=20; Max Pool Size=50;Pooling=true;Connection Timeout=30;"/>
      <add key="ConnectionString.Turnin" value="server=N01DSW137\Dev1;database=Payments;Trusted_Connection=Yes;"/>
      <add key="ConnectionString.ReadonlyDBInstance" value="server=N01DSW137\Dev1;database=Payments;Trusted_Connection=Yes;"/>
     

      <!--START - Added by COGNIZANT 05/31/2004 -->
      <add key="ConnectionString.SalesXReportClass" value="server=N01DSW137\Dev1;database=Payments;Trusted_Connection=Yes;"/>
      <!-- END -->
      <!--Auth token timeout-->
      <add key="AuthenticationSessionTimeout" value="1440"/>
      <add key="WebService.Order.LogInternalInvoke" value="true" />
      <add key="WebService.Payments.LogInternalInvoke" value="true" />

      <!-- https -->
      <add key="ForceSecure" value="None"/>
      <!-- Log to -->
      <add key="ApplicationLogPath" value="%RootPath%logs\" />
      <add key="Navigation_ConnectionString"  value="server=N01DSW137\Dev1;database=SSC;Trusted_Connection=Yes;"/>
    </General>
    <!-- External URL Implementation-START-Modified the below  code in order to make the site work from both Internal and External URL as a part of 'Virtual Directory renaming' Approach  -->
    <!-- External URL Implementation-Modified the below  code in order to make the site work from both Internal and External URL as a part of 'Virtual Directory renaming' Approach  -->

    <Application Name="PaymentToolmsc">
      <!-- Web services-->
      <add key="WebService.NavigationClient" value="http://localhost/Paymenttoolssc/navigation/service.asmx" />
      <!-- AssociateCards_Url should move to CSAA.com -->
      <add key="AssociateCards_Url" value = "http://localhost/membership/cards/"/>
      <!-- Comment Error_Url to throw exceptions directly -->
      <add key="Error_Url" value="/PaymentToolmscr/forms/general_error.aspx"/>
      <!-- External URL Implementation-END-Modified the below  code in order to make the site work from both Internal and External URL as a part of 'Virtual Directory renaming' Approach  -->

      <!-- Set OrderControl_EncyrptHidden to false for debugging if you need to read the value of this control -->
      <add key="OrderControl_EncyrptHidden" value="true"/>
      <!-- Log to -->
      <add key="ApplicationLogPath" value="%RootPath%logs\" />
    </Application>
    <!-- External URL Implementation-START-Modified the below  code in order to make the site work from both Internal and External URL as a part of 'Virtual Directory renaming' Approach  -->

    <Application Name="PaymentToolmscr">
      <!-- Web services -->
      <add key="WebService.NavigationClient" value="http://localhost/Paymenttoolssc/navigation/service.asmx" />
      <!-- Comment Error_Url to throw exceptions directly -->
      <add key="Error_Url" value="/PaymentToolmscr/forms/general_error.aspx"/>
    </Application>

    <Application Name="PaymentToolssc">
      <add key="Navigation_UnauthorizedUrl" value="/PaymentToolmscr/public/admin_contact.aspx"/>
      <add key="Navigation_LoginUrl" value="/PaymentToolmscr/login.aspx"/>
      <!-- External URL Implementation-END-Modified the below  code in order to make the site work from both Internal and External URL as a part of 'Virtual Directory renaming' Approach  -->
    </Application>
    <Application Name="Services">
      <!-- Soap Logging -->
      <add key="Service_LogSoapCalls" value="true"/>
      <add key="Service_LogSoapComplexTypes" value="true"/>
      <add key="Service_LogSoapOutput" value="true"/>
      <add key="Service_LogSoapInput" value="true"/>
      <add key="Service_SoapFaultActor" value="Payment Tool"/>
      <!--add key="ForceSecure" value="RemoteService"/-->
      <!--add key="RequireCertificate" value="RemoteService"/-->
      <!--add key="Certificates" value="41-E3-0A-94"/-->
      <add key="AuthenticationLDAPApps" value="WBI,STAR,HUON"/>
    </Application>

  </Environment>

</configuration>
